/* Importing the Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: linear-gradient(135deg, #B2AA9D, #17202D, #694542, #795940);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Keyframes for Background Gradient Animation */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    25% { background-position: 100% 75%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 0% 25%; }
    100% { background-position: 0% 50%; }
}

header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    overflow-x: hidden;
}

.header-content {
    background-color: black; 
    color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    font-size: calc(14px + 0.5vw); 
}

header .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.social-btn {
    padding: 12px;
    margin: 5px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: calc(16px + 1vw); 
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
}

.social-btn i {
    color: white;
}

.resume-btn {
    font-size: 1.5rem;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#interactive-area {
    font-size: calc(14px + 0.5vw); 
    background-color: black;
    color: white;
    padding: 5%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 85%; 
}

#interactive-image {
    width: 50%;
    height: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #B2AA9D, #17202D, #694542, #795940);
    animation: gradient-border 8s ease infinite;
    background-size: 400% 400%;
    width: 100%; 
    max-width: 600px;
    margin: 10px auto;
    box-sizing: border-box; 
}

@keyframes gradient-border {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%;}
}

#dynamic-input {
    flex-grow: 1;
    border: none;
    border-radius: 15px;
    padding: 13px 10px;
    font-size: calc(14px + 0.5vw); 
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    width: calc(100% - 50px);
    box-sizing: border-box;
}

#dynamic-input:focus {
    outline: none;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}


footer {
    display: none;
}


#calendly-bubble {
    bottom: 10px;
    right: 40px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    position: sticky;
    cursor: pointer;
    transition: bottom 0.5s ease;
}

.bubble-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.bubble-text {
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* Media query for smaller screens (e.g., iPhones) */
@media (max-width: 768px) {
    .header-content {
        width: 95%;
        padding: 15px;
        font-size: 0.9em;
    }

    header h1 {
        font-size: 1.4em;
    }

    .social-btn {
        padding: 10px;
    }

    #interactive-area {
        font-size: 1rem;
        padding: 5%;
    }

    #calendly-bubble {
        right: 10px;
        bottom: -3px;
        width: 80%; 
    }

    .calendly-inline-widget {
        min-width: 300px;
        max-height: 500px;
    }
}

@media (max-width: 512px) {
    .header-content {
        font-size: calc(10px + 0.5vw);
    }

    .social-btn {
        font-size: 1.25rem;
    }

    #calendly-bubble {
        right: unset;
        left: 10px;
        width: 80%;
    }

    #interactive-area {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    header {
        padding-top: 20px;
    }

    #interactive-area {
        width: 50%;
        font-size: 1.5rem;
    }

    #interactive-image {
        width: 40%;
    }
}