/* Importing the Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: linear-gradient(135deg, #B2AA9D, #17202D, #694542, #795940);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns all body contents to the center of the page */
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling in all devices */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling in Webkit browsers such as Safari */
    -webkit-font-smoothing: antialiased; /* Specify font smoothing for Webkit browsers */
    -moz-osx-font-smoothing: grayscale; /* Specify font smoothing for Firefox */
    text-rendering: optimizeLegibility; /* Optimize text for legibility */
}

/* Keyframes for Background Gradient Animation */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    25% { background-position: 100% 75%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 0% 25%; }
    100% { background-position: 0% 50%; }
}

header {
    text-align: center;
    padding-top: 20px; /* Reduced padding to limit the top area */
    margin-bottom: 50px;
}

.header-content {
    background-color: black; 
    color: white;
    padding: 20px; /* Adjust this value as per your design */
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-family: 'Montserrat', sans-serif; /* Ensuring Montserrat font */
}

/* Styling for the name on the left side */
header .name {
    margin-left: 20px;
    font-size: 24px;
}

/* Contact information section styling */
header .contact-info {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns buttons vertically */
    flex-direction: row; /* Stacks buttons vertically */
    margin-top: 20px; /* Adds space between the title and buttons */
}

/* General styling for social media buttons */
.social-btn {
    padding: 12px; 
    margin: 5px;
    border: none;
    background-color: none; 
    color: black; 
    font-size: 200%; 
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
}

.social-btn:hover {
    opacity: 0.7;
}

/* LinkedIn Button Styling */
.linkedin-btn i {
    color: #ffffff; 
}

/* Email Button Styling */
.email-btn i {
    color: #ffffff; 
}

/* GitHub Button Styling */
.github-btn i {
    color: #ffffff; 
}

/* Main content area styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1500px; /* Sets a maximum width for the main content area */
    width: 100%;
}

#interactive-area {
    font-size: 2em;
    background-color: black; 
    color: white; 
    padding: 10%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    max-height: 450px;

}

/* Styling for the interactive image */
#interactive-image {
    max-width: 100%; /* Allows image to be as wide as its container */
    height: auto; /* Maintain aspect ratio */
    width: auto;
    border-radius: 5px; /* Slightly rounded corners */
    margin-bottom: 10px; /* Space between image and text */
}

/* Styling for input and button elements */
input[type="text"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd; 
    border-radius: 4px;
}

#submit-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0 12px;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}
#submit-button:hover {
    opacity: 0.8;
    transform: scale(1.5); /* Scale up the button */
}

:root {
    --translate-y: 0px; /* Default translation */
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #B2AA9D, #17202D, #694542, #795940);
    animation: gradient-border 8s ease infinite;
    background-size: 400% 400%;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    transform: translateY(var(--translate-y));
}

@keyframes gradient-border {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%;}
}

#dynamic-input {
    flex-grow: 1;
    border: none;
    border-radius: 15px;
    padding: 13px 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


#dynamic-input:focus {
    outline: none;
}

#dynamic-input::placeholder {
    color: #696969;
}

/* Styling for the footer */
footer {
    display: none;
}

#calendly-bubble {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 300px;
    position: absolute;
    cursor: pointer;
}

.bubble-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.bubble-text {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.calendly-inline-widget {
    min-width: unset; 
    max-width: 100%; 
    height: auto; 
}

/* Media query for smaller screens (e.g., iPhones) */
@media (max-width: 512px) {
    #calendly-bubble {
        right: unset;  /* Resets the 'right' property */
        left: 10px; 
    }
}

/* Media query for responsive design */
@media (max-width: 768px) {
    header {
        text-align: center; /* Centering text for smaller screens */
    }

    body {
        padding: 10px;
    }

    .header-content {
        width: 85%; /* Making header content responsive */
        margin: 0 auto; /* Centering the header content */
        font-size: 2.5vw; /* Dynamically scaling font size */
        margin-bottom: 50px;
        padding: 18px
    }

    #interactive-area {
        font-size: 4vw; /* Adjust font size for readability */
        padding: 5%; /* Adjust padding */
        max-height: 550px; /* Set max height for smaller screens */
    }

    #interactive-image {
        max-width: 30%; /* Larger relative width on smaller screens */
        margin-bottom: 5px; /* Reduced margin */
    }

    header .name, header .contact-info {
        margin: 10px 0;
    }

    #calendly-bubble {
        right: 10px;
        bottom: -3px;
        width: 60%; /* Adjust the width for smaller screens */
    }

    .calendly-inline-widget {
        min-width: 300px; /* Adjust the min-width for smaller screens */
        max-height: 500px; /* Adjust the max-height for smaller screens */
    }
}


/* Media query for larger screens */
@media (min-width: 1024px) {
    header {
        padding-top: 20px; /* Further reduced padding for larger screens */
    }

    #interactive-area {
        height: 90%;
        width: 30%;
    }

    #interactive-image {
        width: 40%; /* Increased width for larger screens */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Additional Media Query for Mid-Sized Screens */
@media (min-width: 768px) and (max-width: 1023px) {
    #interactive-image {
        width: 30%; /* Adjust this value for mid-sized screens */
        height: auto; /* Maintain aspect ratio */
    }
}