/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B2A599;
}

/* Homepage container styling */
.homepage-container {
    display: flex;
    width: 100%;
}

/* Profile section styling */
.profile-section {
    width: 40%; /* 40% width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Profile image styling */
.profile-image {
    width: 100%; /* Full width of its container */
    height: 100%; /* Full height of its container */
    object-fit: cover; /* Ensure image covers the entire area without distortion */
}

/* Introduction section styling */
.intro-section {
    width: 60%; /* Remaining width of the viewport */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.6;
}

/* Home button styling */
#homeButton {
    font-size: 1.4rem;
    padding: 15px 25px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #D3C0B0;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Home button hover effect */
#homeButton:hover {
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    transform: scale(1.1); /* Scale up the button */
}

/* Responsive design */
@media (max-width: 901px) {
    .profile-section, .intro-section {
        width: 100%;
        max-height: 500px;
        align-items: center;
    }
    .profile-image {
        width: 60%;
        min-width: 200px;
        margin-bottom: 0; /* Remove additional space below the image */
    }
    .homepage-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .profile-section {
        margin-bottom: 10px; /* Slight space below the image */
        justify-content: center; /* Center the image */
    }
    .intro-section {
        margin-top: 0; /* Remove space above the text */
    }
}
